version: '3.7'

services:
  api:
    build:
      ./api
    restart: always
    ports: 
      - "5000:5000"
    env_file:
      - ./api/flask-variables.env
    volumes:
      - ./api:/home/tram
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ${HOME}/tram_data:/var/lib/postgresql/data
    env_file:
      - ./api/flask-variables.env
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
